/*------------------------------------------------------------------layout*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

.grid {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(3);
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: auto;
}
header, footer {
  grid-column: 1 / 3;
}
header {
  position: fixed;
  display:flex;
  width:100%;
  z-index: 999;
  background: white;
  border-bottom: 1px solid rgb(237,237,237);
}
#side {
  padding-top: 55px;
  z-index: 2;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0px 30px rgba(0,0,0,0.19); 
}
aside {
  padding-top: 55px;
}
article {
  background: rgb(249,249,249);
}
.nav {
  background: white;
  height: 165px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.19);
  display: flex;
}
.content {
  background: white;
  height: auto;
  box-shadow: 0 0px 20px rgba(0,0,0,0.04);
  margin: 40px 3% 40px 3%;
}
.context {
  padding: 25px 25px 40px 25px;
}
@media (min-width: 680px) {
  .three-fourth {
    display: flex;
    width:70%;
  }
  .one-fourth {
    width:25%;
  }
}
@media (max-width: 680px) {
  .header-time {
    display:none;
  }
  .header-account {
    display:none;
  }
}

/*------------------------------------------------------------------elements*/

.logo {
  padding-left: 30px;
  margin: 14.5px;
  display:block;
  width:140px;
  height:25px;
}
.tooth {
  width:82px;
  height:82px;
}
.icon {
  height: 33px;
}
.card {
  background: white;
  padding: 17px 15px 17px 15px;
  text-align: center;
  font-size: 80%
}
.card:hover {
  background: #F8F8F8;
  cursor: pointer;
}
.nav-margin {
  margin: 11px 0px 11px 50px;
  padding-left: 20px;
  padding-top: 70px;
}
.nav-text {
  font-size: 80%;
  line-height: .01;
  font-weight: bold;
  color: #44A36E;
}
.nav-active {
  font-size: 80%;
  line-height: .01;
  font-weight: bold;
  color: #808080;
}
.pad {
  padding-left: 100px;
}
.rider {
  padding-left: 22px;
  font-size: 90%;
}
.header-img {
  width:90%;
}
.header-time {
  width: 45%;
  font-size: 95%;
  padding-top: 20px;
  padding-right: 20px;
  color: #808080;
  text-align: right;
}
.header-account {
  width: 10%;
  font-size: 95%;
  padding: 20px 60px 0px 0px;
  color: #808080;
  text-align: right;
}
.user {
  display:flex;
}
.sidetext {
  color: #808080;
  padding-top: 8px;
}
.label {
  color: #808080;
  height: 15px;
}
.label-black {  
  color: black;
  height: 15px;
}
.green {
  color: #44A36E;
}
.tbl-text {
  color: #808080;
  height: 50px;
  font-size: 90%;
}
.tbl-margin {
  padding: 5px 6px 5px 6px;
}
.description {
  display: flex;
}
.cdt {
  padding-top: 20px;
}
/*--------------------------------------------------------------------------*/
